<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Demo Spring Web</title>
<link rel="stylesheet" data-th-href="@{css/Login.css}">
<link rel="icon" data-th-href="@{/images/logoENI.png}" sizes="32x32">
</head>
<body>
	<main class="center-main">
    <div class="login-box" className="login-box">
      <h2>Connexion à Eni Enchères</h2>
      <form th:action="@{/login}"  method="post">
        <div className="div_Input">
         <ul class="flex-outer">
				<li><label for="inputNom"></label>
				<input className="Login"
					type="text" name="username" id="inputNom" required placeholder="Nom d'utilisateur"
					 /></li>
				<li><label for="inputPassword"></label>
				 <input type="password" className="Login" placeholder="Mot de passe"
					name="password" id="inputPassword" required  />
				</li>
				 <li data-th-if="${errorMessage}" data-th-text="${errorMessage}" class="error-message"></li>
			</ul>
          <button type="submit" name="SeConnecter" className="login-button">
            Se connecter
          </button>
        </div>
       
      </form>
    </div>
	</main>
</body>
</html>
